
body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#categories {
    width:300px;
    color:darkblue;
    padding-left:30px;
}

.navbar-inverse {
      background-color:#466289;
}
.navbar-brand {
    padding-left:30px;
    padding-right:30px;
    color:white;
    font-size:27px;
    
}
.navbar {
    background-color:#466289;
    color:white;
}

